@media all and (max-width: 775px){
    .favorite-img{
        max-width: 30% !important;
    }
}

@media all and (max-width: 435px){
    .favorite-img{
        max-width: 45% !important;
    }
}

@media all and (max-width: 345px){
    /* .favorite-img{
        max-width: 30% !important;
    } */
    .favorite-cards{
        display: block !important;
    }
    .favorite-description{
        align-items: center !important;
        margin: 0 !important;
    }
}
